header.contact {
  background : url('../images/contact.jpg') no-repeat center center scroll;
  .cover;
}

.contact-container {
  background            : #6FB7E9 url('../images/contact-bg.png') no-repeat left bottom;
  border-radius         : 10px;
  -moz-border-radius    : 10px;
  -webkit-border-radius : 10px;
  margin                : 150px auto;
}

.contact-info-container {
  color   : #004E64;
  padding : 70px 40px 40px;
}

.contact-info-container h1 {
  font-size : 140%;
}

.contact-info-container address {
  color : #252525;
}

i.address-info {
  color : #252525;
}

.map-container {
  background-color                   : #FFFFFF;
  border-left                        : 1px solid #252570;
  border-bottom-right-radius         : 10px;
  -moz-border-radius-bottomright     : 10px;
  -webkit-border-bottom-right-radius : 10px;
  border-top-right-radius            : 10px;
  -moz-border-radius-topright        : 10px;
  -webkit-border-top-right-radius    : 10px;
  padding                            : 20px;
}

.angular-google-map-container {
  height : 400px;
}