<header class="works"></header>

<section class="services-section-white animated fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img alt="codvio | bulutkare.com" src="images/bulutkare-screenshot.png" class="img-responsive" style="margin: auto;">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1><a href="https://bulutkare.com/" target="_blank"><img alt="bulutkare | bulut hosting" src="images/bulutkare-logo.png"></a></h1>
        <p><a href="http://bulutkare.com/" target="_blank">bulutkare</a> arayüzünden alt yapısına kadar <a href="http://codv.io/">Codvio</a>'da geliştirilen bir bulut altyapı ürünüdür. Kullanıcılar, dakikalar içerisinde kendi sanal makinelerini oluşturabilmektedirler. Sanallaştırma teknolojisi olarak KVM ve LXC birlikte kullanılmaktadır. Türkiye'de saatlik sunucu sağlayabilen ender bulut sağlayıcılarından biri olarak hizmet etmeye devam etmektedir.</p>
      </div>
    </div>
  </div>
</section>

<section class="services-section-white animated fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img alt="codvio | ilactakip.mikrodev.com" src="images/ilactakip-screenshot.png" class="img-responsive" style="margin: auto;">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class='embed-container'><iframe src='https://player.vimeo.com/video/129222197?title=0&byline=0&portrait=0&color=29ABE2&autoplay=0&loop=0&wmode=transparent' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1><a href="http://takip.otifleks.com/" target="_blank"><img alt="ilaçtakip | eczane takip sistemi" src="images/ilactakip-logo.png"></a></h1>
        <p><a href="http://www.gamaarge.com.tr/" target="_blank">Gama ArGe</a>/<a href="http://www.otifleks.com" target="_blank">Otifleks</a>, <a href="http://www.mikrodev.com/" target="_blank">Mikrodev</a> ve <a href="http://codv.io/" target="_blank">Codvio</a> ortak yapımı olan bir IoT (Internet of Things) projesidir. Eczanelerin anlık nem, sıcaklık ve dolap sıcaklığı ölçülerek alarmlar ve bildirimler oluşturulur. Eczacılar hem bilgisayarlarından hem de cep telefonlarından kolaylıkla eczanelerinin anlık durumlarını takip edebilmektedir.</p>
      </div>
    </div>
  </div>
</section>

<section class="services-section-white animated fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img alt="codvio | eteshis.com" src="images/eteshis-screenshot.png" class="img-responsive" style="margin: auto;">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1><a href="http://www.eteshis.com" target="_blank"><img alt="eteshis | elektronik teşhis motoru" src="images/eteshis-logo.png"></a></h1>
        <p><a href="http://www.eteshis.com/" target="_blank">Eteşhis</a> projesi yapay zeka içeren elektronik bir teşhis motorudur. Girdiğiniz belirtilere uygun teşhisler ve riskler bularak yardımcı olur. <a href="http://codv.io" target="_blank">Codvio</a> olarak bu projede ön yüz tasarımı, istemci tabanlı programlama ve bağlantılı REST servislerini gerçekledik.</p>
      </div>
    </div>
  </div>
</section>